body{
    background-color: #FFEFD5;
    color: #8B4513;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    width: 80%;
}

.fejlec{
    height: 100px;
    background-repeat: no-repeat;
    width: 100%;
}

h1{
    margin: 0;
}

ul{
    list-style-image: url("chili-pepper-icon.gif");
    padding-top: 20px;
}

li{
    border: 2px solid lightblue;
    width: 150px;
    text-indent: 5px;
    margin: 5%;
    background-color: white;
    padding: 5px;
}

.menu{
    float: left;
    width: 20%;
}

.tartalom{
    float: right;
    margin-left: 10%;
    width: 70%;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: 100px;
}

table{
    width: 300px;
}

table, td, th{
    border: 1px solid black;
    margin: auto;
    padding: 2px;
    border-collapse: collapse;
}

#fajta{
    text-align: left;
}

th{
    padding: 10px;
}

#ertek{
    text-align: center;
    width: 120px;
}