body{
    background-color: #7D6E83;
    color: #8B4513;
    margin: 0;
    padding: 1px;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: .5px .5px #8B4513;
}

.fejlec{
    background-image: url("paprikafejlec.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100px;
}

h1{
    margin: 0;
    padding: 25px;
    color: #F8EDE3;
    text-shadow: 3px 3px #8B4513;
}

h2{
    color: #F8EDE3;
    text-shadow: 3px 3px #8B4513;
}

ul{
    list-style-image: url("chili-pepper-icon.gif");
}

li{
    border: 2px solid lightblue;
    width: 175px;
    text-indent: 5px;
    background-color: #D0B8A8;
    margin: 5px;
    padding: 10px;
    color: black;
    transition: .35s;
}

li:hover{
    background-color: white;
    color: #7D6E83;
}

td, tr{
    border: 1px solid #7D6E83;
    padding: 10px;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 300px;
    margin-top: 75px;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: #D0B8A8 1px 1px 10px 2px;
    background-color: #DFD3C3;
}

#kozep{
    text-align: center;
    width: 120px;
}

.menu{
    display: grid;
    float: left;
    max-width: 250px;
    margin-right: 5%;
    padding: 5px;
}

p{
    text-align: justify;
    margin-right: 5%;
    color: #F8EDE3;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 760px) {
    table{
        margin-top: 150px;
    }
}

@media screen and (max-width: 700px) {
    table{
        margin-top: 100px;
    }
}

@media screen and (max-width: 680px) {
    table{
        margin-top: 80px;
    }
}

@media screen and (max-width: 640px) {
    table{
        margin-top: 50px;
    }
}



@media screen and (max-width: 550px) {
    h1{
        font-size: 5vw;
        vertical-align: middle;
    }
    
    table{
        width: 200px;
    }

    #kozep{
        width: 80px;
    }

    .fejlec{
        height: 80px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display: block;
    }
    .topnav.responsive a {
        display: block;
    }
    .fa{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        display: inline-block;
        font-size: inherit;
        color: black;
        border: 1.5px solid black;
        border-radius: 10%;
    }
    li{
        padding: 10px;
        border: none;
        width: 95%;
        margin: 0%;
        font-size: large;
        border: 0.5px solid peachpuff;
    }
    ul{
        padding: 5px;
        margin-right: 10px;
        list-style: none;
    }
    .topnav{
        border: 1px solid black;
        box-shadow: 0px 3px 6px 2px;
    }
    a{
        padding: 2px;
    }
    .icon{
        width: 36px;
    }
    .tartalom{
        float: left;
        clear: both;
    }
    .menu{
        min-width: 100%;
    }
}

@media screen and (min-width: 601px) {
    .icon{
        visibility: hidden;
    }
}

@media screen and (max-width: 470px) {
    li{
        width: 94%;
    }
}

@media screen and (max-width: 400px) {
    li{
        width: 92%;
    }
}

@media screen and (max-width: 310px) {
    li{
        width: 90%;
    }
}

@media screen and (max-width: 280px) {
    li{
        width: 88%;
    }
    table{
        margin: 0%;
    }
}