body{
    background-color: #FFEFD5;
    color: #8B4513;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.fejlec{
    background-image: url("paprikafejlec.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    background-repeat: no-repeat;
}

h1{
    margin: 0;
    padding: 25px;
    color: black;
}

ul{
    list-style-image: url("chili-pepper-icon.gif");
    padding-top: 20px;
}

li{
    border: 2px solid lightblue;
    width: 150px;
    text-indent: 5px;
    background-color: white;
    margin: 5px;
    color: black;
}

table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

table{
    width: 300px;
}

#kozep{
    text-align: center;
    width: 120px;
}

.menu{
    display: grid;
    grid-column: 3;
    float: left;
    max-width: 250px;
    margin-right: 5%;
}

p{
    text-align: justify;
    margin-right: 5%;
}

@media (max-width: 550px) {
    h1{
        font-size: 5vw;
        vertical-align: middle;
    }
    
    table{
        width: 200px;
    }

    #kozep{
        width: 80px;
    }

    .fejlec{
        height: 80px;
    }
}